// Colors

$green: #58c22e;
$blue: #3f51b5;
$gray: #8d909a;
$white: #fff;
$red: #f44336;
$wild-strawberry: #ff4081;

$green-var: --green-color !default;
$blue-var: --blue-color !default;
$gray-var: --gray-color !default;
$white-var: --white-color !default;


// Miscellaneous

$radius: 4px !default;
$radius-large: 6px !default;

$radius-var: --radius !default;
$radius-large-var: --radius-large !default;
